@font-face {
  font-family: 'Moderat-Regular';
  src: url('../fonts/Moderat-Regular.eot') format('eot');
  /* IE9 Compat Modes */
  src: url('../fonts//Moderat-Regular.woff2') format('woff2');
  /* Super Modern Browsers */
  src: url('../fonts/Moderat-Regular.woff') format('woff');
  /* Pretty Modern Browsers */
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	z-index: 0;
}

#wrapper {
	max-width: 1280px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 5% 5% 5%;
}

#navigation {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 40px 0 10px 0;
}

#logo {
	width: 70px;
	display: inline-block;
}

.intro {
	width: 100%;
	margin: 0;
	height: 420px;
	padding: 0;
	position: relative;
}

.intro_about {
	width: 60%;
	margin: 0;
	height: 320px;
	padding: 0;
	position: relative;
}



section.thumbnail-wrapper {
	max-width: 100%;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 46px 46px;
}

div.thumb {
	height: 200px;
	width: 30%;
	margin-bottom: 5%;
	background-color: #d6d6cd;
	transition: background-color 1s;

}

div.thumb:hover {
	transition: background-color 0s;
	background-color: #345de6;
}

.thumb a {
	position: relative;
	top: 50%;
	display: block;
	width: 100%;
	margin: 0;
}

a.flex-link {
  padding-bottom: 20px;
border-bottom: 4px solid #bcbcbc;
}

a.flex-link:hover h3 {
	color: #0000ff;
}

a.flex-link:hover p {
	color: #000;
}

a.flex-link:hover {
  border-bottom: 4px solid #000;
}




/*
FONTS N SHIT
*/

h1 {
	font-family: "Moderat-Regular";
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.35;
	width: 50%;
	float: left;
	padding: 10% 0 0 0;
	position: absolute;
}

h2 {
	font-family: 'Moderat-Regular';
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-style: normal;
	width: 35%;
	float: left;
	margin: 0;
	padding-top: 20px;
}


h3 {
	margin: 0;
	font-family: 'Moderat-Regular';
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1;
	color: slategrey;
	-webkit-font-smoothing: antialiased;
}

.flex-link h3 {
	position: relative;
	color: #000;
	font-size: 1.5em;
  margin-bottom: 12px;
}

h4 {
	margin: 0;
	padding-top: 60px;
	font-family: "Bagnard";
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 1;
	color: lightgrey;
	-webkit-font-smoothing: antialiased;
}

h5 {
	font-family: 'Moderat-Regular';
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-style: normal;
	width: 60%;
	float: left;
	margin: 0;
	padding-top: 20px;
}

p {
	font-family: 'Moderat-Regular';
	font-size: 1.25em;
	font-weight: 400;
	color: #425365;
	-webkit-font-smoothing: antialiased;
  margin: 0;
}

ul {
	list-style: none;
	float: right;
}

li {
  font-family: 'Moderat-Regular';
  font-size: 1em;
  display: inline;
  padding-left: 40px;
}

ul li.active {
	color: #0000ff;
	display: inline;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}


@media (max-width: 768px) {
  section.thumbnail-wrapper {

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 32px;
}
}
